{% extends 'base.html.twig' %}

{% block title %}Connectez vous!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
    <link href="maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
{% endblock %}

{% block body %}

<br/>
<br/>

<div class="container">
        <ol class="breadcrumb">
			<li class="active"><a href="{{ path('home') }}">Home</a></li>
			<li class="active">/Connexion</li>
		</ol>
        {% include "flash_messages.html.twig" %}
        
        {% for danger in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{ danger }}
    </div>
    {% endfor %}
    {% if error %}
    <div class="alert alert-danger">
        <ul class="list-unstyled mb-0">
            <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </li>
        </ul>
    </div>
    {% endif %}
    <div id="login">
        <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            
                            <h3 class="text-center text-info">Connectez vous</h3>
                            <p class="text-center text-muted">Si vous n'avez pas de compte veuillez vous, <a href="{{ path('security_registration') }}">Inscrire</a> Sur notre site .</p>
                            <div class="form-group">
                                <label class="text-info">Email <span class="text-danger">*</span></label>
	                            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required autofocus name="_username">
                            </div>
                            <div class="form-group">
                                <label class="text-info">Password <span class="text-danger">*</span></label>
	                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="_password">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="form-group">
                                <b><a href="{{ path('app_reset_password') }}">Mot de passe oublier?</a></b>
                            </div>
                            <button type="submit" class="btn btn-info">Connexion</button>
                        </form>
                    </div>
                </div>
    </div>
        </div>
    </div>
        
  </div>

  <br/>
  <br/>

   
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

