{% extends 'base.html.twig' %}

{% block title %}Rechercher votre offre{% endblock %}

{% block body %}
<br/>
<br/>
<br/>

<div class="container">
    <h1 align = "center">Recherche Offre d'emploi</h1>
  
   {{ form_start(form) }}
<div class="form-rowalign-items-end">
  <div class="col">
    <div class="row">
{#    <div class="col-sm-4">{{ form_row(form.title) }}</div>
#}      <div class="col-sm-4">{{ form_row(form.ville,{'label':'Ville ','attr':{'placeholder':'exp: Tunis'}}) }}</div>
    {# {{ form_row(form.categorie) }}   #}
    </div>
  </div>
  <div class="col">
   <div class="form-group">
     <button type="submit" class="btn btn-info">Rechercher</button>
   </div>
  </div>
 </div>
{{ form_end(form) }} 

    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date D'ajout</th>
                <th>Categorie</th>
                <th>Voir</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
               
                <td>{{ offre.title }}</td>
                <td>{{ offre.content }}</td>
                <td>{{ offre.createdAt ? offre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.categorie }}</td>
                

                <td>
                    <a href="{{ path('offres_annonce_show', {'id': offre.id}) }}">Afficher</a>
                </td>
                <td>{{ offre.ville }}</td>
            </tr>
             
        {% else %}
            <tr>
                <td colspan="6">Aucune Offre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div><br/><br/><br/>

{% endblock %}
