{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
<br/>
<br/>
<br/>

<div class="container">
    <h1 align = "center">Recherche une Offre d'emploi</h1>

  
   {{ form_start(form) }}
<div class="form-rowalign-items-end">
  <div class="col">
     {{ form_row(form.title) }}
  {#   {{ form_row(form.categorie) }}  #}
  </div>
  <div class="col">
   <div class="form-group">
     <button type="submit" class="btn btn-info">Rechercher</button>
   </div>
  </div>
 </div>
{{ form_end(form) }} 

    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date Creation</th>
                <th>Categorie</th>
                <th>Voir</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
               
                <td>{{ offre.title }}</td>
                <td>{{ offre.content }}</td>
                <td>{{ offre.createdAt ? offre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.categorie }}</td>
                <td>
                    <a href="{{ path('offres_annonce_show', {'id': offre.id}) }}">Afficher</a>
                </td>
            </tr>
             
        {% else %}
            <tr>
                <td colspan="6">Aucune Offre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div><br/><br/><br/>

{% endblock %}
