{% extends 'base.html.twig' %}

{% block body %}
<br/>
<br/>
<br/>
<br/>

    {% if app.user %} {#.email == ""#}
    <div class="container">

<h1 align = "center">Tous les Cv des Candidats</h1>

<table id="example" class="table" style="width:100%"> {#display#}
    <thead>
    <tr>
        
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-mail</th>
        <th>Niveau</th>
        <th>Cv pdf</th>
    </tr>
    </thead>
    <tbody>

    {% for con in candidat %}

    <tr>
        
        <td>{{con.nom}}</td>
        <td>{{con.prenom}}</td>
        <td>{{con.email}}</td>
        <td>{{con.level}}</td>
        <td>  <a href="{{ asset('livre/' ~ con.cv) }}" target="_blank">Afficher cv</a></td>
        {#<td>  <a href="{{ asset('livre/' ~ app.user.cv) }}" target="_blank">Afficher cv</a></td>#}
    </tr>

  {% endfor %}

    </tbody>
    <tfoot>
    <tr>{#
        <th>id</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>E-mail</th>
        <th>duree</th>
        <th>action</th>
    </tr> #}
    </tfoot>
</table>
    </div><br/><br/>
    {% endif %}
  
{% endblock %}