<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>E-Recrutement</h3>
              <p class="pb-3"><em>Un site de recrutement à votre service mesdames et messieurs...</em></p>
              <p>
                Faculté fsjegj <br>
                JE 8100, TUNISIA<br><br>
                <strong>Phone:</strong> +216 56 369 119<br>
                <strong>Email:</strong> <a href="mailto:camaraamadou775@gmail.com" class="gmail">camaraamadou775@gmail.com</a><br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
            <h4>Bas de Page</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('home') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('contact') }}">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="250">
            <h4>Candidat</h4>
            <ul>
            {% if is_granted('ROLE_USER') %}

            {% else %}  
              <li><i class="bx bx-chevron-right"></i> <a href="{{path('security_registration') }}">S'inscrire</a></li>
            {% endif %}  
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_carriere') }}">Conseil Carrière</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_exemple_cv') }}">Exemple CV</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_candidature') }}">Candidature</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="250">
            <h4>Recruteur</h4>
            <ul>
            {% if is_granted('ROLE_ADMIN') %}

            {% else %}  
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('app_register') }}">S'inscrire</a></li>
            {% endif %}  
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_recruteur') }}">Conseil Recruteur</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_idees') }}">6 idées</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ path('conseil_vie_privee') }}">Conseil vie Privée?</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2020 E-Recrutement</span></strong>. Droit Reserver
      </div>
    </div>
  </footer><!-- End Footer -->