
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ path('home') }}"><img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/></a><a href="{{ path('home') }}"><span>E-recrutement</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="{{ app.request.get('_route') == 'offres_recherche' ? 'active' : '' }}"><a class="search-btn" href="{{ path('offres_recherche') }}"><i class="fas fa-search"></i>Recherche</a></li>
          <li class="{{ app.request.get('_route') == 'home' ? 'active' : '' }}"><a href="{{ path('home') }}"><i class="fa fa-home"></i>Home</a></li>
          {% if is_granted('ROLE_USER') %}
          <li class="{{ app.request.get('_route') == 'profile' ? 'active' : '' }}"><a href="{{ path('profile') }}">EspaceMenbre</a></li> 
          {% else %}
          <li class="{{ app.request.get('_route') == 'Espace_Entreprise' ? 'active' : '' }}"><a href="{{ path('profil_index') }}">Espace_Entreprise</a></li> 
          {% endif %}
          <li class="{{ app.request.get('_route') == 'offres_annonce' ? 'active' : '' }}"><a href="{{ path('offres_annonce') }}">Offre_d'emploi</a></li>
          <li class="{{ app.request.get('_route') == 'contact' ? 'active' : '' }}"><a href="{{ path('contact') }}">Contact</a></li>

          {% if is_granted('ROLE_USER') %}
          <li class="drop-down"><a href="">{{ app.user.nom }} {{ app.user.prenom }}</a>
            <ul>
              {% if app.user.email != "" %}
              <li><a href="{{ path('candidat', {'id' : app.user.id }) }}">Mon Cv</a></li> 
              <li><a href="{{ path('profile')}}">Profile</a></li> 
              {% endif %}
              <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
            </ul>
          </li>
           {% elseif is_granted('ROLE_ADMIN') %}
          <li class="drop-down"><a href="">{{ app.user.email }}</a>
            <ul>
              {% if app.user.email != "" %}
              <li><a href="{{ path('profil_index')}}">Profile</a></li>
             {# <li><a href="{{ path('offres_create') }}">Creér Offre</a></li>#}
              <li><a href="{{ path('allCv') }}">CV des Candidat</a></li>
              <li><a href="{{ path('offres_create', {'id' : app.user.id }) }}">Creér Offre</a></li>
              {#<li><a href="{{ path('offres_edit', {'id': offres.id}) }}">Modifier Offre</a></li>#}
              {% endif %}
              <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
            </ul>
          </li>
          {% else %}
          <li class="drop-down"><a href="#">Connexion</a>
            <ul>
              <li><a href="{{ path('security_login')}}">Connexion</a></li>
              <li><a href="{{ path('security_registration')}}">Inscription</a></li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->