

{% block body %}

    {% if app.user %}
    <h1 align = "center">Cv</h1>
<div class="page">
    <div class="infophoto">
        <div class="info">
            
            <div class="photo">
            {#<img src = "C:\wamp64\www\Debuter_symfony\Pfe\app\e-recrutement\public\images\e793815e6d6bb0ac4ad7a23864f754ff.png" alt="John" style="width:150px; height: 150px;border-radius: 50%;margin-right: 25px; float: right;" />#}

            <img src = "C:\wamp64\www\Debuter_symfony\Pfe\app\e-recrutement\public\images\8106154e93fdccdd700d99038ae232fc.jpeg" alt="John" style="width:150px; height: 150px;border-radius: 50%;margin-right: 25px; float: right;" />

            </div>
            <p><strong>{{app.user.nom}} &nbsp; {{app.user.prenom}}</strong></p>
            <p>Date de naissance :{{ app.user.datenaissance | date(' d/m/Y') }}</p>{#|date('d/m/Y')#}
            <p>Adresse : {{app.user.adresse}}</p>
            <p>Bienvenue: {{ app.user.civility }}</p>
            <p>Tel : +216 {{app.user.tel}}</p>
            <p>E-mail : {{app.user.email}}</p>
            <p>Nationlité : {{app.user.nationalite}}</p>
          {#app.user.specialite.titre#}  <p>Niveau : {{app.user.level}}</p>
        </div>
        
    </div>
    <!-- Formation -->
<div class="section">
        <h2>Formation  <a class="btn btn-primary btn-sm" href="{{ path('formation_new', {'id' : app.user.id }) }}"
                          style="
    float: right;
"></a></h2>    

            {% for ls in listformation %}
            <div class="row">
                <div class="col-md-4"> <span class="titre">Nom formation : {{ ls.titre }}</span> <br>
                Année de début : {{  ls.anneescoler |date('d/m/Y') }} -
                    {% if not ls.anneeterminal%}
                    jusqu'à aujourd'hui
                    {% else %}
                     Année Terminal : {{ ls.anneeterminal |date('d/m/Y')}}</div>
                    {% endif %}

                <div class="col-md-8"><span class="titre"> </span><span class="titre">Nom Diplome : {{ ls.diplome }}</span> &nbsp;avec  Mention &nbsp;{{ ls.mention }}

                <a href="{{ path('supprimerFormation', {'id' : ls.id ,'id_user': app.user.id}) }}" class="btn btn-danger delete-article" data-id="{{ ls.id }}"
                   style="
    float: right;
"></a>
                    <br>
                    <hr>
                </div>

            </div>
            {% endfor %}

    </div>
    <!-- experience professionneles -->
    <div class="section">
        <h2>Expérience Professionneles  <a class="btn btn-primary btn-sm" href="{{ path('experience_new', {'id' : app.user.id }) }}"
                                           style="
    float: right;
"></a> </h2>



            <div class="row">
            {% for ex in experience %}
                <div class="col-md-4">Date début : {{ ex.datedebut |date('d/m/Y')}} <span class="duree">Durée : {{ ex.duree }} </span>
                </div>

                <div class="col-md-8"><span class="titre">Nom Filière : {{ex.type}}</span> Ville : {{ex.lieu}}
                <br>
                    Description : {{ ex.description }}
                    <a href="{{ path('supprimerexperionce', {'id' : ex.id ,'id_user': app.user.id}) }}" class="btn btn-danger delete-article" style="
    float: right;
"></a>
                    <br>
                    <hr>
                </div>

            {% endfor %}
            </div>

    </div>
    <!-- langue -->
    <div class="section">
        <h2> Langues   <a class="btn btn-primary btn-sm" href="{{ path('langue_new', {'id' : app.user.id }) }}"
                          style="
    float: right;
"></a> </h2>


        <div class="row">
        {% for lg in langue %}
        <div class="col-md-4">   <span class="titre">Nom Langue : {{ lg.titre }}</span></div>
            <div class="col-md-8">Niveau : {{ lg.niveau }}
            <a href="{{ path('supprimerlangue', {'id' : lg.id ,'id_user': app.user.id}) }}" class="btn btn-danger delete-article"
               style="
    float: right;
"></a>
                <br>
                <hr>
            </div>
        {% endfor %}

        </div>

    </div>

</div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Vous besoin de connecter avant !!
        </div>
    {% endif %}
    
{% endblock %}