{% extends 'base.html.twig' %}

{% block title %}Liste des Offres{% endblock %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <h1>Tous les offres d'emploi</h1>
    {% include "flash_messages.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                
                <td>{{ offre.title }}</td>
                <td>{{ offre.content }}</td>
                <td>{{ offre.image }}</td>
                <td>{{ offre.createdAt ? offre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.categorie }} </td>
                <td>
                    <a href="{{ path('offre_show', {'id': offre.id}) }}">Afficher</a>
                    <a href="{{ path('offre_edit', {'id': offre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('offre_new') }}">Créer une offre</a>
</div><br/><br/><br/>

{% endblock %}
